!!!
%html
  %head
    %title Transit Explorer
    %link{ rel: :stylesheet, type: "text/css", href: "application.css" }
    %script{ src: "http://maps.googleapis.com/maps/api/js?key=AIzaSyAHzhfVl-Yol5FcrRFC3pnBbAv1cFjWBXQ&v=3.17" }
    %script{ src: "application.js" }
  %body
    #map-canvas